.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.80);
  }
  
  .card-header {
    background-color: rgb(28, 87, 105, 0.80);
    border-bottom: none;
  }
  
  .card-body {
    padding: 30px;
  }

  .transparent-bg{
    background-color: rgb(28, 87, 105, 0.75);
  }