<div class="container mt-5 transparent-bg p-5 rounded">
    <div *ngIf="evento">
      <div class="card mb-3">
        <div class="card-body">
          <h1 class="card-title">{{ evento.nombre_evento }}</h1>
          <p class="card-text"><strong>Fecha:</strong> {{ evento.fecha_creacion | date }}</p>
          <p class="card-text"><strong>Lugar:</strong> {{ evento.lugar_evento }}</p>
        </div>
      </div>
  
      <h2 class="text-white">Usuarios Asistentes</h2>
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre de Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuariosAsistentes">
            <td>{{ usuario.username }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  