<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownAlbums" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Álbumes
      </a>
      <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownAlbums">
        <li><a routerLink="lista-albumnes" class="dropdown-item text-white dropdown-link">Todos los Álbumes</a></li>
        <li><a routerLink="album-managment" class="dropdown-item text-white dropdown-link">Gestión de Álbumes</a></li>
      </ul>
    </li>
    <app-search></app-search>
    <span *ngIf="username">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Canciones
        </a>
        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <li><a routerLink="buscar-canciones" class="dropdown-item text-white dropdown-link">Busqueda Avanzada Canciones</a></li>
          <li><a routerLink="subir-cancion" class="dropdown-item text-white dropdown-link">Subir Cancion</a></li>
          <li><a routerLink="tus-canciones" class="dropdown-item text-white dropdown-link">Ver Tus Canciones</a></li>
        </ul>
      </li>
    </span>
    <span *ngIf="username">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Playlists
        </a>
        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <li><a routerLink="buscar-playlists" class="dropdown-item text-white dropdown-link">Busqueda Avanzada Playlists</a></li>
          <li><a routerLink="crear-playlists" class="dropdown-item text-white dropdown-link">Crear Playlist</a></li>
          <li><a routerLink="ver-tus-playlists" class="dropdown-item text-white dropdown-link">Ver Tus Playlists</a></li>
        </ul>
      </li>
    </span>
    <span *ngIf="username">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Usuarios
        </a>
        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <li><a routerLink="buscar-usuarios" class="dropdown-item text-white dropdown-link">Busqueda Avanzada Usuarios</a></li>
        </ul>
      </li>
    </span>
    <span *ngIf="username">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Eventos
        </a>
        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <li><a routerLink="buscar-eventos" class="dropdown-item text-white dropdown-link">Busqueda Avanzada Eventos</a></li>
          <li><a routerLink="crear-evento" class="dropdown-item text-white dropdown-link">Crear Evento</a></li>
          <li><a routerLink="eventos" class="dropdown-item text-white dropdown-link">Todos los Eventos</a></li>
        </ul>
      </li>
    </span> 
    <li class="nav-item">
      <span *ngIf="username" class="nav-link text-white">
        Bienvenido, {{ username }}
        <a routerLink="perfil-usuario">
          <img *ngIf="user && user.foto" [src]="'data:image/png;base64,' + user.foto" alt="Foto de perfil" class="profile-picture img-fluid">
          <img *ngIf="!user || !user.foto" src="assets/images/usuario/profile.png" alt="Foto de perfil predeterminada" class="profile-picture img-fluid">
        </a>
      </span>
    </li>
    <li class="nav-item">
      <button (click)="logout()" class="btn btn-link text-white logout"><i class="bi bi-box-arrow-right"> Logout</i></button>
    </li>
  </ul>
</nav>
